
/** ADD YOUR AWESOME CODES HERE **/
nav .navbar-brand img{
	width: 260px!important;
}
.header_strip{
	padding-top: 10px;
	/*padding-bottom: 10px;*/
}
hr.strip{
	margin: 0!important;
}
.header_strip ul li{
	display: inline;
	margin-right: 15px;
}
.header_strip .header_nums{
	display: flex;
	justify-content: center;
}
/*.header_strip ul.social_icons li i{
	border: 1px solid grey;
	padding: 5px 8px;
	transition: .5s;
	-webkit-transition: .5s;
}*/
.header_strip .header_nums ul li{
	margin-left: 15px;
	margin-right: 15px;
}
.header_strip ul.social_icons li a{
	font-size: 20px;
	color: #72A837;
}
.header_strip ul li a{
	font-size: 15px;
	color: #72A837;
}
.header_strip ul li a:hover{
	color: #fadd07;	
}
.header_strip .enqiry_btn{
	background: #72A837;
	color: #fff;
	padding: 11px 20px;
	font-size: 16px;
	transition: .5s;
	-webkit-transition: .5s;
}
.header_strip .enqiry_btn:hover{
	background: #fadd07;
}
nav.color-change{
	position: fixed;
  	width: 100%;
  	top: 0;
  	z-index: 999;
  	background: #e3ddddcc!important;
  	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)!important;
  	padding-top: 5px;
  	padding-bottom: 5px;
}

#home{
	position: relative;
}
.video_blk{
	padding-top: 25px;
	padding-bottom: 25px;
}
.consult_blk h5{
	color: #fff;
	font-size: 32px;
	font-weight: 600;
	text-align: left;
}
.consult_blk a.num{
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	text-align: left;
}
.consult_blk i{
	color: #fff;
	font-size: 24px;
}
.consult_blk a.btn-contact{
	background: grey;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 25px;
	padding: 10px 15px;
	line-height: 40px;
	height: 40px;
	vertical-align: middle;
	transition: .5s;
	-webkit-transition: .5s;
}
.consult_blk a.btn-contact:hover,.consult_blk a.btn-contact:visited{
	background: #fff;
	color: #72A837;
}
.consult_blk a.btn-contact:hover i,.consult_blk a.btn-contact:visited i{
	color: #72A837!important;
}
.contact_form2 {
    border: 1px solid #ededed;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
    background-color: #f2f3f5;
    padding: 40px 30px;
	display: flex;
	margin-bottom: 25px;
}
.contact_form2 i{
	margin: auto 0;
	font-size: 30px;
	color: #fff;
	padding: 10px 14px;
	background: #72a837;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.contact_form2 i.fa-envelope{
	font-size: 26px;
}
.contact_form2 .add_blk{
	padding-left: 15px;
}
.contact_form2 p{
	margin: 0!important;
	font-size: 15px;
	color: #000;
}
.contact_form2 .add_blk h3{
	font-size: 20px;
	color: #72a837;
}
.contact_form2 .add_blk a:hover{
	color: #fadd07;
}
.footer_addr,.consult_blk{
	background: #72a837;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}
.footer_addr .blk .fa{
	font-size: 20px;
	color: #fff;
}
.footer_addr .blk h5{
	font-size: 18px;
	font-weight: 600;
	color: #fff;
}
.footer_addr .blk a,.footer_addr .blk p{
	color: #fff;
}
.projects_blk{
	padding-top: 50px;
	padding-bottom: 50px;
}
.projects_blk a,.projects_blk a:hover{
	color: #000;
}
.project_blk,.gallery_blk{
	padding-top: 25px;
	padding-bottom: 25px;
}
.projects_blk a:hover .post-box{
    border: 1px solid #72a837;
}
.projects_blk a:hover .post-box h4{
	color: #72a837;
}
.gallery{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 25px;
	margin: 0 0 30px 0;
}
.gallery .p-item img{
	width: 100%;
}
.p-item{
	border-radius: 5px;
	transition: .5s;
	-webkit-transition: .5s;
}
.gallery_last_pic{
	position: relative;
}
.gallery_last_pic .overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	transition: .5s ease;
	background-color: rgba(0,0,0,.6);
}
.gallery_last_pic .overlay .text{
	display: block;
	color: #fff;
	text-align: center;
	font-family: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.more_projects{
	text-align: center;
}
.more_projects a{
	border: 1px solid #ddd;
	padding: 10px;
	font-size: 16px;
	transition: .2s;
	-webkit-transition: .2s;
}
.more_projects a:hover{
	background: #FADD06;
	color: #fff;
	border: 1px solid #FADD06;
	box-shadow: 0px 5px 35px 0px rgb(148 146 245 / 15%);
	-webkit-box-shadow: 0px 5px 35px 0px rgb(148 146 245 / 15%);
}
.bg_img{
	position: relative;
}
.bg_img img{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1
}
.aboutus_blk{
	padding-top: 50px;
	padding-bottom: 50px;
}
.aboutus_blk .aboutus_inr_blk{
	padding-top: 25px;
	padding-bottom: 25px;
}
.aboutus_blk .inner_blk{
	background: #6db842;
	color: #fff;
	border-radius: 25px;
	padding: 20px 15px;
	box-shadow: 6px 7px 10px #908b8bb8;
	-webkit-box-shadow: 6px 7px 10px #908b8bb8;
}
.aboutus_blk .inner_blk2{
	background: #6db842;
	color: #fff;
	border-radius: 25px;
	padding: 20px 15px;
	box-shadow: -6px 7px 10px #908b8bb8;
	-webkit-box-shadow: -6px 7px 10px #908b8bb8;
}
.aboutus_blk h2{
	font-family: 'Kalam', cursive;
	font-size: 38px;
	font-weight: 600;
	text-transform: uppercase;
}
.aboutus_blk h4{
	font-family: 'Kalam', cursive;
	font-size: 32px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
}
.aboutus_blk p{
	font-size: 15px;
}
.aboutus_blk img{
	width: 350px;
	margin: auto;
	display: block;
}

/* [1] The container */
.img-hover-zoom {
  height: 100%; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform 1s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
  cursor: pointer;
}


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  /*top: 50%;
  left: 50%;*/
  bottom: 2%;
  right: -10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-hovering:hover .image,.projects-carousel a:hover .image-hovering .image {
  opacity: 0.2;
} 
.projects-carousel a:hover .image-hovering .middle{
	opacity: 1;	
}

.image-hovering:hover .middle {
  opacity: 1;
}

.text {
  background-color: #72a837;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
}
.gallery_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}
.gallery_grid figure {
    margin: auto;
}
.gallery_grid img {
    width: 100%;
    height: 178px;
}
.hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
.hvrbox .hvrbox-layer_bottom {
    display: block;
}
.hvrbox img {
    max-width: 100%;
}